@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ProyectoMerck.Models.ViewModels.FertformVM

@using (Html.BeginForm("FertilityCalculator", "Fertform", HttpMethod.Post))
{
    <header class="header-bg-color">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container-fluid">
                <a href="@Url.Action("Index", "Home")" class="btn"><i class="bi bi-chevron-left header-icon-left"></i></a>
                <button class="navbar-toggler header-burger" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list text-light"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row subheader-body">
        <div class="col-md-12">
            <div class="col-12 text-center vh-50 mt-35">
                <img class="mb-4 subheader-img" src="~/imagenes/LogoMerck.jpg" />
                <div class="text-center subheader-div">
                    <div class="row align-items-center">
                        <div class="col">
                            <a href="@Url.Action("Index","Login")">
                                <img src="~/imagenes/FlechaIzquierda.png" />
                            </a>
                        </div>
                        <div class="col">
                            <p class="display-4 mb-0">@Localizer["FertilityCalculator"].Value</p>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rounded-header">
        </div>
    </div>
    <div class="container">
        <div class="row border-bottom pb-5 pt-3">
            <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-end">
                <img src="/Imagenes/IconoEdadActual.png">
            </div>
            <div class="col-5">
                <div class="row pb-3 mt-2">
                    <h3 style="color:#4A1896">@Localizer["FirstAge"].Value</h3>
                </div>
                <div class="row">
                    <div class="col px-0" >
                        <label for="currentAgeYears">Años:</label>
                        <input type="number" class="form-control" id="SelectedYear" name="SelectedYear" placeholder="Años" min="12" max="50" required>
                    </div>
                    <div class="col pe-0">
                        <label for="currentAgeMonths">Meses:</label>
                        <input type="number" class="form-control" id="SelectedMonth" name="SelectedMonth" placeholder="Meses" min="1" max="12" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row border-bottom pb-5 pt-3">
            <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-end">
                <img src="/Imagenes/IconoEdadActual.png">
            </div>
            <div class="col-5">
                <div class="row pb-3">
                    <h3 style="color:#4A1896">@Localizer["At what age would you like to be a mother in the future?"].Value</h3>
                </div>
                <div class="row">
                    @{
                        var ageOptions = new List<SelectListItem>
                            {
                            new SelectListItem { Text = "0-3 años", Value = "3" },
                            new SelectListItem { Text = "4-6 años", Value = "6" },
                            new SelectListItem { Text = "7-10 años", Value = "10" },
                            new SelectListItem { Text = ">10 años", Value = "11" },
                            new SelectListItem { Text = "No lo sé aún", Value = "0" }
                            };

                        @Html.DropDownListFor(model => model.QuestionUser, ageOptions, new { @class = "form-control" })
                    }
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 d-flex justify-content-center h5" style="color: #e61e50">
                @Html.ValidationSummary(false)
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn col-8 col-sm-5 offset-sm-2 offset-md-0 col-md-4 p-2 my-3 border-light merck-button">
                    <span class="spinner-container"></span>
                    <span class="m-button-span">@Localizer["Send"]</span>
                </button>
            </div>
        </div>
    </div>



}


