@model ProyectoMerck.Models.ViewModels.ReserveVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header style="background-color:#EA3B95;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 ">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <img src="/Imagenes/LogoMerckRosa.jpg" style="margin-bottom:30px; width:50%" />
            </div>
        </div>
        <div class="row">
            <div class="col offset-3">
                <h3 class="text-light">@Localizer["ActualAge"].Value</h3>
            </div>
        </div>
        <div class="row">
            <div class="col offset-3">
                <h3 style="font-weight:300; opacity:0.7" class="text-light">@String.Format(Localizer["ActualAgeNumber"].Value,Model.CurrentAge.ToString())</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col offset-3">
                <h3 class="text-light">@Localizer["FirstPeriod"].Value</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col offset-3">
                <h3 style="font-weight:300; opacity:0.7" class="text-light">@String.Format(Localizer["FirstPeriodAge"].Value, Model.FirstAge.ToString())</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a class="btn col-5 col-md-4 p-2 my-5 border-light merck-button"  href="@Url.Action("RedirectIndicator", "Reserve", new {CurrentAge = @Model.CurrentAge})">
                <span class="m-button-span">@Localizer["KnowMore"].Value</span>
                <span class="spinner-container"></span>    
            </a>
        </div>
    </div>
    <div style="height:100px; background-color: white; border-top-left-radius:30px; border-top-right-radius:30px">
    </div>
</header>
 <h3 class="text-center">@Localizer["FertilityRate"].Value</h3>
 
                     <div class="col d-flex justify-content-center" id="chart_div"></div>
 

<script>


    var ovuleCount = @Model.CurrentAge;
    var familyAge = @Model.QuestionUser;

    google.charts.setOnLoadCallback(function () {
        drawChart(ovuleCount, familyAge);
    });

</script>
