@model ConsultationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProyectoMerck.Models.ViewModels
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Consutation";
}

<header class="header-bg-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn"><i class="bi bi-chevron-left header-icon-left"></i></a>
            <button class="navbar-toggler header-burger" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-light"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row subheader-body">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50 mt-35">
            <img class="mb-4 subheader-img" src="~/imagenes/LogoMerck.jpg" />
            <div class="text-center subheader-div">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="@Url.Action("Indicator","Indicator")">
                            <img src="~/imagenes/FlechaIzquierda.png" />
                        </a>
                    </div>
                    <div class="col">
                        <p class="display-4 mb-0">
                            Consulta
                        </p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded-header">
    </div>
</div>


<div class="container">

@using (Html.BeginForm("AddConsultation", "Consultation", FormMethod.Post))
{
        @Html.HiddenFor(c => c.Locations)
        @Html.HiddenFor(c => c.SelectedLocationIndex, new { id = "SelectedLocationIndex" })
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col text-center">
                <img src="~/imagenes/FotoUbicacion.png" class="img-fluid" />
            </div>
            <div class="col-8 pe-3">
                <label asp-for="Country" class="form-label consultation-label">Pais</label>
                @Html.DropDownListFor(p => p.SelectedCountry, Model.CountryList.Select(c =>
                         new SelectListItem()
            {
                Value = c.Id.ToString(),
                Text = c.Name
            }), "--- Seleccione una opción ---",
                         new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "countryDropdown" })
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col text-center">
                <img src="~/imagenes/FotoUbicacion.png" class="img-fluid" />
            </div>
            <div class="col-8 pe-3">
                <label asp-for="Province" class="form-label consultation-label">Provincia</label>
                @if (Model.SubmitError == true)
                {
                    @Html.DropDownListFor(p => p.SelectedProvince, Model.ProvincList.Select(c =>
                             new SelectListItem()
            {
                Value = c.Id.ToString(),
                Text = c.Name
            }), "--- Seleccione una opción ---",
                             new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceDropdown" })
                }
                else
                {
                    @Html.DropDownListFor(p => p.SelectedProvince, Enumerable.Empty<SelectListItem>(), "--- Seleccione una opción ---", new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceDropdown" })
                }
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
        </div>



        <div class="row mt-3">
            <div class="col text-center">
                <img src="~/imagenes/FotoUbicacion.png" class="img-fluid" />
            </div>
            <div class="col-8 pe-3">
                <label asp-for="Location" class="form-label consultation-label">Locacion</label>
                @if (Model.SubmitError == true)
                {
                    @Html.DropDownListFor(p => p.SelectedProvinceLocation, Model.ProvinceLocationList.Select(c =>
                             new SelectListItem()
            {
                Text = c.Name.ToString(),
                Value = c.Id.ToString()
            }
                             )
                             , "--- Seleccione una opción ---",
                             new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceLocationDropdown" })

                }
                else
                {
                    @Html.DropDownListFor(p => p.SelectedProvinceLocation, Enumerable.Empty<SelectListItem>(), "--- Seleccione una opción ---", new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceLocationDropdown" })

                }
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>

       @*  <div class="row mt-3">
            <div class="col text-center">
                <img src="~/imagenes/FotoUbicacion.png" class="img-fluid" />
            </div>
            <div class="col-8 p-0">
                <label asp-for="Clinic" class="form-label consultation-label">Clinica</label>
                <select asp-for="Clinic" name="Clinic" class="form-control consultation-select" id="Clinic">
                    <option value="">Seleccionar Clinica</option>
                    @foreach (var clinic in Model.Clinics)
                    {
                        <option value="@clinic.Value">@clinic.Text</option>
                    }
                </select>
                <span asp-validation-for="Clinic" class="text-danger"></span>
            </div>
        </div>
 *@

        <div class="row mt-3">
            <div class="col text-center">
                <img src="~/imagenes/FotoEmail.png" class="img-fluid" />
            </div>
            <div class="col-8 pe-3">
                <label asp-for="Email" class="form-label consultation-label-2">Mail contacto</label>
                <row class="d-flex align-self-end">
                    @Html.TextBoxFor(p => p.Email,
                             new { @class = "form-control" })    
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col text-center">
                <img src="~/imagenes/FotoConsulta.png" class="img-fluid" />
            </div>
            <div class="col-8 pe-3">
                <label asp-for="ReasonConsultation" class="form-label consultation-label-2">Motivo consulta</label>
                <row class="d-flex align-self-end">
                    @Html.TextAreaFor(p => p.ReasonConsultation,
                             new { @class = "form-control" })    
                <br />
                <span asp-validation-for="ReasonConsultation" class="text-danger"></span>
            </div>
        </div>


        <div class="container mt-4">

            <div  id="clinicContainer" class="@* row mx-5 d-flex *@ @(Model.SubmitError == true ? "clinic-container-error" : "clinic-container")">

              @*   @if (Model.SubmitError == true)
                {
                    <h2 class="text-center text-light align-self-center">Por favor, ingrese sus datos de manera correcta</h2>
                }
                else
                {
                    <h2 class="text-center text-light align-self-center">Por favor, seleccione un País</h2>
                } *@

            </div>

            <div id="arrowContainer" class="container d-none">
                <div class="row justify-content-around">

                    <div id="arrowLeft" class="col">
                        <i class="bi bi-arrow-left-short pointer-arrow"></i>
                    </div>
                    <div id="arrowRight" class="col text-end">
                        <i class="bi bi-arrow-right-short pointer-arrow"></i>
                    </div>
                </div>
            </div>


            <div id="submitter" class="d-flex align-items-center justify-content-center d-none">
                <button id="clinicButton" type="submit" class="btn col-5 col-md-4 p-2 my-5 border-light merck-button" @* data-bs-toggle="modal" data-bs-target="#exampleModal" *@>
                    Enviar
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@Localizer["ConsultAgain"].Value</h5>
                    </div>
                    <div class="modal-body">
                        <h1 class="text-center" style="color:#2EBDCD;">@Localizer["ThankYou"].Value</h1>
                    </div>
                    <div class="modal-footer">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">@Localizer["ConsultAgain"]</a>
                    </div>
                </div>
            </div>
        </div>

    }
      
</div>




<script src="~/js/clinics.js"></script>

<script>

    var provinceList = @Html.Raw(Json.Serialize(Model.ProvincList));
    var locationList = @Html.Raw(Json.Serialize(Model.ProvinceLocationList));
    var clinicLocationList = @Html.Raw(Json.Serialize(Model.LocationsList));
    var errorHappened = '@Model.SubmitError'.toLowerCase() === 'true';

</script>




@* @model ConsultationViewModel
@using ProyectoMerck.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Consutation";

}

<header class="header-bg-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn"><i class="bi bi-chevron-left header-icon-left"></i></a>
            <button class="navbar-toggler header-burger" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-light"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row subheader-body">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50 mt-35">
            <img class="mb-4 subheader-img" src="~/imagenes/LogoMerck.jpg" />
            <div class="text-center subheader-div">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="@Url.Action("Indicator","Indicator")">
                            <img src="~/imagenes/FlechaIzquierda.png" />
                        </a>
                    </div>
                    <div class="col">
                        <p class="display-4 mb-0">
                            @Localizer["Consultation"].Value
                        </p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded-header">
    </div>
</div>


<div class="container">
    <form method="post" asp-action="AddConsultation" class="mx-auto mt-5 consultation-form-width">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3 pt-40">
            <div class="input-group">
                <div class="input-group-append">
                    <img src="~/imagenes/FotoUbicacion.png" class="w-80-h-80"/>
                </div>
                <div class="input-group-append ml-40">
                    <label asp-for="Country" class="form-label consultation-label">@Localizer["Country"].Value</label>
                    <select asp-for="Country" class="form-control consultation-select" id="Country">
                        <option value="">@Localizer["SelectCountry"].Value</option>
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                        
                    </select>
                </div>
            </div>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>


        <div class="mb-3 pt-40">
            <div class="input-group">
                <div class="input-group-append">
                    <img src="~/imagenes/FotoUbicacion.png" class="w-80-h-80"/>
                </div>
                <div class="input-group-append ml-20">
                    <label asp-for="Province" class="form-label consultation-label">Provincia</label>
                    <select asp-for="Province" name="Province" class="form-control consultation-select" id="Province">
                        <option value="">@Localizer["SelectProvince"].Value</option>
                        @foreach (var province in Model.Provinces)
                        {
                            <option value="@province.Value">@province.Text</option>
                        }
                    </select>
                </div>
            </div>
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>



        <div class="mb-3 pt-40">
            <div class="input-group">
                <div class="input-group-append">
                    <img src="~/imagenes/FotoUbicacion.png" class="w-80-h-80"/>
                </div>
                <div class="input-group-append ml-20">
                    <label asp-for="Location" class="form-label consultation-label">@Localizer["Location"].Value</label>
                    <select asp-for="Location" name="Location" class="form-control consultation-select" id="Location">
                        <option value="">@Localizer["SelectLocation"].Value</option>
                        @foreach (var location in Model.Locations)
                        {
                            <option value="@location.Value">@location.Text</option>
                        }
                    </select>
                </div>
            </div>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="mb-3 pt-40">
            <div class="input-group">
                <div class="input-group-append">
                    <img src="~/imagenes/FotoUbicacion.png" class="w-80-h-80" />
                </div>
                <div class="input-group-append ml-20">
                    <label asp-for="Clinic" class="form-label consultation-label">@Localizer["Clinic"].Value</label>
                    <select asp-for="Clinic" name="Clinic" class="form-control consultation-select" id="Clinic">
                        <option value="">@Localizer["SelectClinic"]</option>
                        @foreach (var clinic in Model.Clinics)
                        {
                            <option value="@clinic.Value">@clinic.Text</option>
                        }
                    </select>
                </div>
            </div>
            <span asp-validation-for="Clinic" class="text-danger"></span>
        </div>



        <div class="mb-3 pt-40">
            <div class="input-group">
                <div class="input-group-append">
                    <img src="~/imagenes/FotoEmail.png" class="w-80-h-80" />
                </div>
                <div class="input-group-append ml-20">
                    <label asp-for="Email" class="form-label consultation-label-2">@Localizer["ContactMail"]</label>
                    <input asp-for="Email" class="form-control consultation-select" placeholder="@Localizer["MailPlaceholder"].Value">
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <div class="mb-3 pt-40">
            <div class="input-group">
                <div class="input-group-append">
                    <img src="~/imagenes/FotoConsulta.png" class="w-80-h-80"/>
                </div>
                <div class="input-group-append ml-20">
                    <label asp-for="ReasonConsultation" class="form-label consultation-label-2">@Localizer["ReasonConsultation"].Value</label>
                    <input asp-for="ReasonConsultation" class="form-control consultation-select" placeholder="@Localizer["MotivePlaceholder"].Value">
                </div>
            </div>
            <span asp-validation-for="ReasonConsultation" class="text-danger"></span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <button type="submit" class="btn col-5 col-md-4 p-2 my-5 border-light merck-button">
                <span class="m-button-span">@Localizer["Send"].Value</span>
                <span class="spinner-container"></span></button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var provinceSelect = document.getElementById("Province");
        var locationSelect = document.getElementById("Location");
        var clinicSelect = document.getElementById("Clinic");

        provinceSelect.addEventListener("change", function () {
            var selectedProvince = provinceSelect.value;

            // Realiza una solicitud fetch al servidor para obtener las localidades
            fetch(`/Consultation/GetLocaties?province=${selectedProvince}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(locations => {
                    // Maneja la respuesta del servidor y actualiza el select de localidades
                    updateLocationSelect(locations);
                })
                .catch(error => {
                    console.error(error);
                });

            // Realiza una solicitud fetch adicional para obtener las clínicas basadas en la provincia seleccionada
            fetch(`/Consultation/GetClinics?province=${selectedProvince}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(clinics => {
                    // Maneja la respuesta del servidor y actualiza el select de clínicas
                    updateClinicSelect(clinics);
                })
                .catch(error => {
                    console.error(error);
                });
        });

        function updateLocationSelect(locations) {
            // Borra las opciones actuales en el select de localidades
            locationSelect.innerHTML = "<option value=''>" + @Localizer["SelectLocation"].Value + "</option>";

            // Agrega las nuevas opciones basadas en la respuesta del servidor
            locations.forEach(function (location) {
                var option = document.createElement("option");
                option.value = location.value;
                option.text = location.text;
                locationSelect.add(option);
            });
        }

        function updateClinicSelect(clinics) {
            // Borra las opciones actuales en el select de clínicas
            clinicSelect.innerHTML = "<option value=''>" + @Localizer["SelectClinic"] + "</option>";

            // Agrega las nuevas opciones basadas en la respuesta del servidor
            clinics.forEach(function (clinic) {
                var option = document.createElement("option");
                option.value = clinic.text;
                option.text = clinic.text;
                clinicSelect.add(option);
            });
        }

    });
</script>





 *@































