@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ProyectoMerck.Models.ViewModels.LoginVM

@{
    string addEmail = Localizer["AddEmail"].Value;

    var addPassword = Localizer["AddPassword"].Value;

    Console.WriteLine("X");
}

<header class="header-bg-color">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <a href="@Url.Action("Index", "Home")" class="btn"><i class="bi bi-chevron-left header-icon-left"></i></a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
            <form action="@Url.Action("ChangeCulture","Language")" method="get" id="languageForm" class="m-2">
                <input type="hidden" id="cultureInput" name="culture" />
                <span value="en" class="btn"><img src="~/Imagenes/Flag_of_the_United_Kingdom.png" class="flag-small @(Model.CurrentCulture == "en" ? "flag-selected" : "")" /></span>
                <span value="pt" class="btn"><img src="~/Imagenes/Flag_of_Portugal.svg" class="flag-small @(Model.CurrentCulture == "pt" ? "flag-selected" : "")" /></span>
                <span value="es" class="btn"><img src="~/Imagenes/Spain_flag_300.png" class="flag-small @(Model.CurrentCulture == "es" ? "flag-selected" : "")" /></span>
            </form>
        </div>
    </nav>

</header>
<div class="d-flex align-items-center justify-content-center body">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="container mx-auto login-container">
                <div class="row">
                    <div class="col my-4">
                        <img src="/Imagenes/LogoMerck.jpg"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.Email, Localizer["AddEmail"].Value, new {@class = "h3"})
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.TextBoxFor(m => m.Email,new { @class = "form-control",type="email" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.Password, Localizer["AddPassword"].Value, new {@class = "h3 my-3"})
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password" })
                    </div>
                </div>
                <div class="row">
                <div class="col mt-2" style="color:#503291">
                        @Html.ValidationSummary(false,"", new { @class = "h5" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="merck-button btn p-4 my-5 border-light col-12">
                            <span class="m-button-span">@Localizer["AdminLogin"]</span>
                            <span class="spinner-container"></span>
                        </button>
                    </div>       
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">
                        <a class="merck-button btn col-12 col-md-12 p-4 my-5 border-light" href="@Url.Action("Index", "Fertform")" >
                            <span class="m-button-span">@Localizer["GuestLogin"]</span>
                            <span class="spinner-container"></span>
                        </a>
                    </div>
                </div>
            </div>
        }
</div>


<script>
    var flags = document.querySelectorAll('.flag-small');

    flags.forEach(function (flag) {

        flag.addEventListener('click', function () {

            flags.forEach(function (flag) {
                flag.classList.remove('flag-selected');
            })

            console.log(flag);

            flag.classList.add('flag-selected');

            var cultureValue = flag.parentElement.getAttribute('value');

            var elemento = document.getElementById('cultureInput').value = cultureValue;

            document.getElementById('languageForm').submit();

        })
    })
</script>


   


                        