@model ReserveVM
@using ProyectoMerck.Models.Enums
@using ProyectoMerck.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Indicator";
}

<header class="header-bg-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn"><i class="bi bi-chevron-left header-icon-left"></i></a>
            <button class="navbar-toggler header-burger" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-light"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row subheader-body">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50 mt-35">
            <img class="mb-4 subheader-img" src="~/imagenes/LogoMerck.jpg" />
            <div class="text-center subheader-div">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="@Url.Action("Index","Reserve")">
                            <img src="~/imagenes/FlechaIzquierda.png" />
                        </a>
                    </div>
                    <div class="col">
                        <p class="display-4 mb-0">@Localizer["Indicatorr"].Value</p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded-header">
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12">
            @switch (Model.FertilityLevel)
            {
                case FertilityLevel.High:
                    <p id="Height">
                    @Localizer["HighReserve"].Value  
                    </p>
                    break;

                case FertilityLevel.Medium:
                    <p id="Medium">
                    @Localizer["MidReserve"].Value    
                    </p>
                    break;

                case FertilityLevel.Low:
                    <p id="Low">
                    @Localizer["LowReserve"].Value    
                    </p>
                    break;

                default:
                    <p> Nivel de fertilidad no reconocido </p>
                    break;
            }
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <a asp-controller="Consultation" asp-action="Consultation" class="btn col-5 col-md-4 p-2 my-5 border-light merck-button">
                <span class="m-button-span">@Localizer["ContactCenter"]</span>
                <span class="spinner-container"></span>
            </a>
        </div>

    </div>
</div>

